$phone-device: 767.98px;

$display-background: #585858;
$white: #FFFFFF;
$input-idle: #F7F7F7;
$input-idle-border: #EAEAEA;
$input-active-border: #00ADEE;
$input-error-border: #E70000;
$input-label: #666666;
$button-bg-color:#FFAB44;
