/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
html, body {
  font-style: normal;
  overflow: hidden;
  height: 100%;
  width: 100%;
  font-size: 14px;
}
